.search-bar{
    background-color: gainsboro;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.search-bar_form{
    text-align: center;
}
.search-bar input{
    margin: 2vh;
}
.search-bar select{
    margin: 2vh;
}